<%- include('../partials/header') %>

<form id="new-form" action="/articles" method="POST">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Content</label>
    <input type="text" name="content">
    <label>Created Year:</label>
    <input type="text" name="createdYear">
    
  
    <label></label>
    
    <input type="submit" value="Add Article">
  </form>







<%- include('../partials/footer') %>
